/* -------------------------------- 
Primary style
-------------------------------- */
 @font-face {
  font-family:"Champagne &amp; Limousines";
  src: url("Champagne_Limousines.eot?") format("eot"),
    url("Champagne_Limousines.woff") format("woff"),
    url("Champagne_Limousines.ttf") format("truetype"),
    url("Champagne_Limousines.svg#Champagne&Limousines") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
  font-family:"Champagne &amp; Limousines Bold Italic";
  src:url("Champagne___Limousines_Bold_Italic.eot?") format("eot"),
    url("Champagne___Limousines_Bold_Italic.woff") format("woff"),
    url("Champagne___Limousines_Bold_Italic.ttf") format("truetype"),
    url("Champagne___Limousines_Bold_Italic.svg#Champagne&Limousines-BoldItalic") format("svg");
    font-weight:normal;font-style:normal;
}
@font-face {
  font-family:"Champagne &amp; Limousines Bold";
  src:url("Champagne___Limousines_Bold.eot?") format("eot"),
    url("Champagne___Limousines_Bold.woff") format("woff"),
    url("Champagne___Limousines_Bold.ttf") format("truetype"),
    url("Champagne___Limousines_Bold.svg#Champagne&Limousines-Bold") format("svg");
    font-weight:normal;font-style:normal;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: "Champagne &amp; Limousines", sans-serif;
  color: #f5b2a2;
  background-color: white;
}
body, html {
  height: 100%;
}
a {
  text-decoration: none;
}
/* -------------------------------- 
reusable parts of our design
-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
/* -------------------------------- 
navigation
-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background:rgba(127, 216, 190, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 999px) {
  .cd-header {
    height: 80px;
  }
  .cd-header #cd-logo {
    margin: 20px 0 0 5%;
  }
}
.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
  margin-top: 5px;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  margin-top: 20px;
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #f5b2a2;
  border-top: 1px solid white;
  color: #8e7d7f;
}
@media only screen and (min-width: 1237px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
  }
}
/* -------------------------------- 
main content
-------------------------------- */
.cd-main-content {
  height: 100%;
  position: relative;
  z-index: 1;
}
/* -------------------------------- 

-------------------------------- */
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  font-family: "Champagne &amp; Limousines Bold", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 3rem;
  text-shadow: 3px 2px 0px rgba(209, 119, 143, 1);
  color: white;
  letter-spacing: 0.5rem;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/index1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/cd-background-13.jpg");
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/cd-background-5.jpg");
}
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../img/cd-background-6.jpg");
}
.cd-fixed-bg.cd-bg-7 {
  background-image: url("../img/cd-background-7.jpg");
}
.cd-fixed-bg.cd-bg-8 {
  background-image: url("../img/cd-background-8.jpg");
}
.cd-fixed-bg.cd-bg-9 {
  background-image: url("../img/cd-background-9.jpg");
}
.cd-fixed-bg.cd-bg-10 {
  background-image: url("../img/cd-background-10.jpg");
}
.cd-fixed-bg.cd-bg-11 {
  background-image: url("../img/cd-background-11.jpg");
}
.cd-fixed-bg.cd-bg-12 {
  background-image: url("../img/cd-background-12.jpg");
}
.cd-fixed-bg.cd-bg-13 {
  background-image: url("../img/cd-background-16.jpg");
}
.cd-fixed-bg.cd-bg-14 {
  background-image: url("../img/cd-background-17.jpg");
}
.cd-fixed-bg.cd-bg-15 {
  background-image: url("../img/cd-background-15.jpg");
}
.cd-fixed-bg.cd-bg-16 {
  background-image: url("../img/cd-background-18.jpg");
}
.cd-fixed-bg.cd-bg-17 {
  background-image: url("../img/rose.jpg");
}
.cd-fixed-bg.cd-bg-18 {
  background-image: url("../img/cd-background-19.jpg");
}
.cd-fixed-bg.cd-bg-19 {
  background-image: url("../img/cd-background-21.jpg");
}
.cd-fixed-bg.cd-bg-20 {
  background-image: url("../img/cd-background-4.jpg");
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 50px;
    font-weight: 300;
  }
}
.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  box-shadow: 0 0 80px rgba(105, 105, 105, 0.8);
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #88c9b7;;
  color: white;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #88c9b7;;
  color: white;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #88c9b7;;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    background-attachment: fixed;
    padding: 1.5em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}
.slider-footer{
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}
.slider-footer a{
  margin-left: 1rem;
}
.arrow{
  position: absolute;
  bottom: 1rem;
  left: 40rem;
  display: block;
  float: left;
}
.caption{
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 50rem;
  color: #87c7b6;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 1250px) {
  .caption {
  font-size: 1rem;
  }
}
@media only screen and (max-width: 1190px) {
  .caption {
  font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1125px) {
  .caption {
  font-size: 0.8rem;
  }
}
.grid-row {
  clear: both;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.image{
  position: relative;
  width: 500;
  height: 660;
  margin-left: 0px;
  margin-right: 0px;
}
.image2{
  position: relative;
  left: 500px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 40px;
}
.text{
  position: absolute;
  width: 500px;
  height: 300px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 15px;
}
.text h1{
  font-family:"Champagne &amp; Limousines Bold";
  font-size:2rem;
  letter-spacing: 0.1rem;
  padding-top: 20px;
}
.text p{
  width:500px;
}
.box{
  font-family:"Champagne &amp; Limousines Bold";
  max-width: 100%;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-left: 20px;
  float: left;
}